# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
programa

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Base de dados
data_athlete_info.csv